* {
    box-sizing: border-box;
}


.users_adim{
    min-height: 700px;
}
.title_users{
    
    text-align: center;
    font-size: 16px;
}

.users_list{

    display: flex;
    flex-direction: column;
     justify-content:flex-start;
    text-align:start;
    align-self: flex-start;
    margin-left: 20px;
    align-items: flex-start;
}
