<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

    <title>Pago</title>
</head>
<body>
    <header class="mainHeader">
        <div class="headerSup">
            <h2 class="logo">
                <img src="logo_turistenado.png">
            </h2>
        <div class="headerRegistro">
                 <img src="carrito.png" >               
        </div>    
        </div>
        
            <nav  class="headerInf">
                <p>Datos de compra</p>
            </nav>
    </header>

    <main>
        <section class="pasajeros">
            <h3 class="captionForm">¿Quiénes viajan?</h3>
            <article class="cantidadPasajeros">
                <form action="/quienesViajan" method="get">
                    <label for="mayores">Mayores:</label>
                    <select name="mayores" id="">
                        <option value="1">1</option> 
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="#">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </form>

                <form action="/quienesViajan" method="get">
                    <label for="menores">Menores:</label>
                    <select name="menores" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="#">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </form>
            </article>
            <article class="datosPasajeros">
                <div>
                    <label for="nombre">Apellido y Nombre</label>
                    <input type="text" name="pasajero1" id="nombre" placeholder="Juan Pablo Perez">
                </div>
                <div>
                    <label for="fechaNacimiento">Fecha Nacimiento</label>
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                </div>
                <div>
                    <label for="nroDocumente">Nro. Documento</label>
                    <input type="number" name="nroDocumente" id="nroDocumente" placeholder="23485265">
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Florida 2365">
                </div>
                <div>
                    <label for="provincia">Provincia</label>
                    <input type="text" name="provincia" id="provincia" placeholder="Tucumán">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="soledad@gmail.com">
                </div>
                <div>
                    <label for="telefono">Nro. Contacto</label>
                    <input type="tel" name="telefono" id="telefono" placeholder="381456987">
                </div>
            </article>
        </section>
        <section class="Pago">
            <h3>¿Cómo querés pagar?</h3>
            <article class="medioPago">
                
                <form action="medioPago" method="get"></form>
                <label for="medioPago">Tarjeta débito</label>
                <input type="radio" name="medioPago" value="debito">
                <label for="medioPago">Tarejeta crédito</label>     
                <input type="radio" name="medioPago" value="tarjeta">
                
            </article>
            <article class="pagoTarjeta"> 
               <div>
                    <label for="numeroTarjeta">Nro de tarjeta</label>
                    <input type="number" name="numeroTarjeta" id="numeroTarjeta" placeholder="ingrese nro">
                </div>
                <div>
                    <label for="titular">Titular tarjeta</label>
                    <input type="text" name="titular" id="titular" placeholder="Nombre titular">
                </div>
                <div>
                    <label for="vencimiento">Vencimiento</label>
                    <input type="number" name="vencimiento" id="vencimiento" placeholder="10/24">
                </div>
                <div>
                    <label for="codigoSeg">Código seguridad</label>
                    <input type="number" name="codigoSeg" id="codigoSeg" placeholder="124">
                </div>
            </article>
        </section>
    </main>
</body>
</html>