<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

    <main>
        <section class="pasajeros">
            <div >
                <h4>¿Quiénes viajan?</h4>
            </div>
                <div class="datosPasajeros">
            <article class="cantidadPasajeros">
                <form action="/quienesViajan" method="get">
                    <label for="mayores">Mayores:</label>
                    <select name="mayores" id="">
                        <option value="1">1</option> 
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="#">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </form>
            
                <form action="/quienesViajan" method="get">
                    <label for="menores">Menores:</label>
                    <select name="menores" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="#">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    
                </form>
            </article>
            
            <article >
                <div >
                    <label for="nombre">Apellido y Nombre:</label>
                    <input type="text" name="pasajero1" id="txtnombre" placeholder="Juan Pablo Perez" required>
                </div>
                <div>
                    <label for="fechaNacimiento">Fecha Nacimiento:</label>
                    <input type="date" name="fechaNacimiento" id="txFechaNac" required>
                </div>
                <div>
                    <label for="nroDocumente">Nro. Documento:</label>
                    <input type="number" name="nroDocumente" id="txNroDoc" placeholder="23485265" maxlength="8" required>
                </div>
                <div>
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" name="domicilio" id="txdomicilio" placeholder="Florida 2365" required>
                </div>
                <div>
                    <label for="provincia">Provincia:</label>
                    <input type="text" name="provincia" id="txprovincia" placeholder="Tucumán" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="txemail" placeholder="soledad@gmail.com" required maxlength="20">
                </div>
                <div>
                    <label for="telefono">Nro. Contacto:</label>
                    <input type="tel" name="telefono" id="txtel" placeholder="381456987" required minlength="9">
                </div>
            </div>
            </article>
        </section>

        <section class="pago">
            <div>
                <h4>¿Cómo querés pagar?</h4>
            </div>

            <div >
            <article class="medioPago">
                <div class="datosPago">
                <form action="medioPago" method="get"></form required>
                <label for="medioPago">Tarjeta débito</label>
                <input type="radio" name="medioPago" value="debito">
                <label for="medioPago">Tarjeta crédito</label>     
                <input type="radio" name="medioPago" value="tarjeta">
            </div>
            </article>
            

            <article class="pagoTarjeta"> 
               <div>
                    <label for="numeroTarjeta">Nro de tarjeta</label>
                    <input type="number" name="numeroTarjeta" id="txNroTarjeta" placeholder="ingrese nro" required>
                </div>
                <div>
                    <label for="titular">Titular tarjeta</label>
                    <input type="text" name="titular" id="txtitular" placeholder="como figura en su tarjeta" required>
                </div>
                <div>
                    <label for="vencimiento">Vencimiento</label>
                    <input type="number" name="vencimiento" id="txVto" placeholder="10/24" required minlength="4">
                </div>
                <div>
                    <label for="codigoSeg">Código seguridad</label>
                    <input type="number" name="codigoSeg" id="txcodigoSeg" placeholder="124" minlength="3" maxlength="5" required>
                </div>
            
            </article>
        </div>
        
        <form action="cartFinal" method="post" class="bottonForm">
        <a href="./cartFinal"><button class= "botonForm" type="submit" value="submit" form="cartFinal">Pagar</button></a>
        <button class="botonForm" type="reset" >Borrar</button>
       
       
        
    </form>
   
    
        </section>
        
    </main>
    
    <%- include('./partials/footer') %>
    
</body>
</html>