<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
        <main class=cart_main >
            <section class="section_cart_empty" >
 
                <h2 class="empty_cart" >No hay productos para mostrar </h2>
            
                <div class="find_package">
                <a href="./index">Buscar Paquetes<i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                   
           
            </section>
            
        </main>
        
    <%- include('./partials/footer') %>

</body>
</html>