<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>
    
    <main class="cartMain" >
        <section class="sectionCart">
               <h2 class="h2Cart">Carrito</h2>
            <article class="porComprar">
                <p class="descripcionCart"><strong>Bariloche</strong></p> 
                    <form action="reset">
                        <a href="#eliminar">
                         <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                        </a>
                    </form>
          
                <img src="/images/Bariloche300x200.webp" alt="Foto Bariloche">
            
                <div class="texto">
                    <p class="desc"> Bariloche en 7 días</p>
                    <p class="precioCart"> $40.000</p>
                    <p class="descuentoCart"> 20% off </p>  

                    
                </div>
                <hr class="hr">
            </article>
            
            <article class="porComprar">
               
                <p class="descripcionCart"><strong>Mendoza</strong></p> 
                <div>
                    <form action="reset">
                        <a href="#eliminar">
                         <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
                        </a>
                    </form>
                <img src="/images/Mendoza.webp" alt="Foto Bariloche">
                </div>
            
                <div class="texto">
                    <p class=""> Mendoza en 4 días</p>
                    <p class="precio"> $36.770</p>
                    <p class="descuento">10% off </p>  
                </div>
                
                <hr class="hr">
                
            </article>
            <div>
                <form class="pagoTotal" action="/cart/cartForm"  method="get" id="form_pago">   
                    <label class="textTotal"><strong>Total:</strong></label>
                    <label class="montoTotal"><strong>$76.770</strong></label>
                   
                        <a href="cart/cartForm"> <button class="botonPago" type="submit" value="sumbit" form="form_pago">Iniciar compra</button></a>
                        
                    <label class="actionCart"><a href="./index">Seguir comprando<i class="fa-solid fa-cart-shopping"></i></a></label>
               </form>
            </div>
               
            </section>
    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>